[2015-05-29 11:59] Axford opened #1 "Support for ASCII STL"
Hi

Would be great to add support for ASCII STL, mainly because it's what OpenSCAD generates.

thanks
D

[2015-05-29 15:44] franciscod opened #2 "Canvas stays small, rest of window is black"
Somehow, the rendered canvas doesn't scale to cover the entire window, instead it stays small at the corner:

![1432913739](https://cloud.githubusercontent.com/assets/726447/7886384/1e67745a-0600-11e5-840b-1bb77f1cccb9.png)
![1432913743](https://cloud.githubusercontent.com/assets/726447/7886385/1e6cf858-0600-11e5-95a9-38870e4009e5.png)
![1432913749](https://cloud.githubusercontent.com/assets/72644

[2015-05-29 23:35] marmilicious commented on #1
I too was wondering if you could add ASCII STL support.  Thanks for this quick little program Matthew.

[2015-06-05 18:31] bionik opened #3 "Models are upside down"
All my models are upside down. I wish I had an option to change the default orientation as upside down.

[2015-12-31 00:51] rahji commented on #2
I have the same problem if I run the program with the name of an .stl file from the command line. If I then open the [same] file with the File | Open menu item, it looks correct.

[2015-12-31 00:52] rahji commented on #1
FYI: this ruby script seems to work well for converting back and forth between binary and ASCII... http://www.thingiverse.com/thing:39655/#files

[2016-03-16 12:02] aiQon commented on #3
can confirm that on latest master branch and mac os el capitan with qt 5

[2016-03-16 13:48] aiQon commented on #3
btw:
to be able to tilt more and spin models upside down use this in canvas.cpp

[code]

Notice the yaw and tilt assignments

[2016-03-26 14:51] sur5r opened #4 "License clarification"
I'm currently trying to package fstl for Debian. Is the custom license intentional or is it supposed to be MIT?

[2016-04-17 18:09] nmaggioni commented on #2
+1 for this issue, on HiDPI display.

[2016-04-17 18:10] nmaggioni commented on #3
+1 for @aiQon solution, it should be merged - why shouldn't we be able to rotate model upside down, anyway?

[2016-04-26 01:46] DeveloperPaul123 commented on #1
I've added ASCII support in my fork [here](https://github.com/DeveloperPaul123/fstl). I've created a pull request, so hopefully changes will be merged. Note that currently the file will be assumed to be ASCII if it begins with the "solid" keyword. I'll be making changes as need be to make this work better.

[2016-06-07 19:37] marsanyi opened #7 "make fails on Ubuntu 14.04LTS + qt4-dev-tools"
Compilation errors running "make" on system.  Installed qt4-dev-tools, using gcc 4.8.4 stock install on Ubuntu 14.04LTS.  Output attached.
[errs.txt](https://github.com/mkeeter/fstl/files/303396/errs.txt)

[2016-06-07 19:38] marsanyi commented on #7
(caveat: I'm not a QT developer)

[2016-09-07 12:36] mkeeter commented on #7
`fstl` requires Qt 5, since Qt 4 doesn't have the right OpenGL API.  On 14.04, you'll have to download it manually from [qt.io](https://www.qt.io), but in the latest LTS it's built-in.

[2016-09-07 12:41] mkeeter commented on #4
It was intentional at the time (verbiage cooked up between [CBA](cba.mit.edu) and [TLO](https://tlo.mit.edu/)), but I've since seen the light of standard OSI-approved licenses.

I've updated to the MIT license.

[2016-09-07 12:41] #4 closed

[2016-09-07 16:55] graywolf2 opened #8 "Fedora 24: fstl does not run with qt5 and does not compile with qt4"
My operating system is Fedora 24 64 bit. Videocard is Nvidia NVS 5200M. I use the proprietary nvidia driver.
Qt version is 5.6.1.

Qt5:
I compiled the fstl normally by qmake-qt5 and make commands. But fstl does not run.
vovk@dell:/mnt/datadisk1/Work/fstl-master/release$ ./fstl
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
Aborted (core dumped)
----------

[2016-09-07 17:42] graywolf2 commented on #8
If in app.cpp I do this:
`App::App(int argc, char *argv[]) :
	QApplication(argc, argv), window(new Window())
{
    window->show();
	/*
    if (argc > 1)
        window->load_stl(argv[1]);
    else
        window->load_stl(":gl/sphere.stl");
	*/
}`
the fstl runs normally but no model is shown in window.

So bug is in Window::load_stl function or in functions that execute Window::load_stl.

[2016-09-07 20:23] graywolf2 commented on #8
I had fixed the primary bug!

The QApplication constructor is defined as
QApplication(int &argc, char **argv)
So we must to pass to this constructor the same argc instance as from main function, not the copy.

I had changed the App::App(int argc, char *argv[]) definition to
App::App(int &argc, char *argv[])

And now fstl runs normally. But I see new bug. There is no 3d model in window, only black

[2016-09-07 20:43] graywolf2 commented on #8
From documentation about QApplication constructor:
Warning: The data referred to by argc and argv must stay valid for the entire lifetime of the QApplication object.

Before my fix the argc variable in App constructor did not live long. :)

[2016-09-07 22:16] graywolf2 commented on #8
The "black area" bug is related to nvidia proprietary driver.
BTW the 3d game like flightgear works normally with this driver.

I loaded the live Fedora 24 with opensource nouveau driver from flash drive. The fstl worked normally. I attached screenshots.
![screenshot1](https://cloud.githubusercontent.com/assets/12239412/18330475/82cc4746-7561-11e6-85c0-5d00fcdece27.png)
![screenshot2](https://clou

[2016-09-08 12:44] mkeeter commented on #8
Okay, I've pushed a fix for the `int& argc` issue – good find.

I'm not sure where to start on the graphics drivers, though.

[2016-09-08 23:52] graywolf2 commented on #8
The "black area" problem is not in fstl. It was the problem in my linux. ;)
I reinstalled the nvidia driver and now fstl works fine.

Maybe the dkms did not update automatically some driver components after I updated the linux kernel.

[2016-09-08 23:54] #8 closed

[2016-09-12 15:22] graywolf2 opened #9 "I built static fstl.exe, it does not work on Windows 7/8."
I want to build the static standalone 32-bit exe of fstl.
I used Windows 8 64 bit for doing that work.

For build the static Qt I use the https://wiki.qt.io/Building_a_static_Qt_for_Windows_using_MinGW article.
There is few free space on C disk. So I had installed the dynamic Qt environment and 32 bit mingw compiler to D:\Qt directory.
The Qt Version is 5.7.

I run powershell and executed windows-

[2016-09-13 00:19] graywolf2 commented on #9
It's strange. I had installed Windows 7 32 bit in VirtualBox and there the static fstl.exe works normally.

[2016-09-14 14:34] graywolf2 commented on #9
I had checked the static fstl.exe on real computer with 64bit Windows 8 and it works normally.

So I think that the problem is in this: VirtualBox has the bad virtual videocard driver for 64bit Windows 8.

[2016-09-14 14:35] #9 closed

[2016-09-14 15:24] graywolf2 commented on #2
I had the same problem. I fixed it by delaying of startup stl file load by 500 milliseconds.
The App constructor I made as:
App::App(int &argc, char *argv[]) :
	QApplication(argc, argv), window(new Window())
{
    window->show();
    QTimer::singleShot(500, this, SLOT(load_stl()));
}

Also I made the load_stl slot in App class:
void App::load_stl()
{
	if (arguments().count() > 1) window->load_stl(

[2016-09-17 01:04] franciscod commented on #2
Thanks, @graywolf2!

It appears that your fix does indeed work, but as soon as you resize the window, the canvas doesn't scale with it :(

Nonetheless, we are (maybe?) closer now!

[2016-09-17 14:46] #2 closed

[2016-10-22 16:45] esacape3d opened #11 "How to improve for multiple objects?"
It may not a simple task, but how can I improve the program to accept multiple objects and display them? I understand that the code utilizes QGLBuffer for faster rendering, but don't know how. Can I know rough algorithm for this? Thanks for a nice code.

[2017-02-12 21:31] bionik commented on #3
The issue seems to be fixed now, except that x-axis is mirrored. I fixed it in this pull request: https://github.com/mkeeter/fstl/pull/14

[2017-02-12 21:31] #3 closed

[2017-04-29 01:30] mkeeter commented on #1
ASCII `.stl` files are supported in the new release ([`0.9.3`](https://github.com/mkeeter/fstl/releases/tag/v0.9.3)).  Please re-open if you're having any issues.

[2017-04-29 01:30] #1 closed

[2017-06-06 17:33] echrisinger opened #19 "Is this a snapshot or model viewer?"
Hey, just a quick question. Working on using this for a project, but I'm looking to take snapshots of models, not have them rotating in a program. Does this produce snapshots of models? The renderings look great.

Edit: seems like a model viewer. Any thoughts of building in a snapshot tool? I may be working on one.

[2017-06-06 17:44] #19 closed

[2017-06-07 11:53] mkeeter commented on #19
Yup, this is a pure model viewer.  What would a snapshot tool look like, besides just opening the model and taking a screenshot of the `fstl` window?

[2017-06-13 01:40] DeveloperPaul123 commented on #11
How do you envision this working? Would it render the items side by side? On top of each other?

[2017-11-15 01:46] jurneo opened #23 "moving to QOpenGLWidget"
Just to share my finding that moving to QOpenGLWidget, from QGLWidget. The changes is quite straight forward (by replacing QGLWidget --> QOpenGLWidget, ..).
To make it work, the tricky part is to replace paintEvent with paintGL to avoid issue with display. The complete change is in fork out code in my github.

[2017-11-15 01:48] #23 closed

[2018-01-03 09:42] aytekno opened #24 "Build failed in Raspbian Stretch"
Hello,
make -j8 command fails after %46 of build on Raspberry pi 3. What can be the reason?
Thank you.

[2018-01-03 10:51] Akranen commented on #24
Hi,

A screenshot of the error message can help.

Thanks

[2018-01-03 11:06] aytekno commented on #24
Thank you. Build completed with the command make -j4. But again program can not be opened with ./fstl command. Gives the following error:
![screenshot_1](https://user-images.githubusercontent.com/19725045/34518157-38f1512a-f08f-11e7-9ee9-a50b338a19ef.png)

[2018-01-03 12:58] mkeeter commented on #24
[This bug](https://bugreports.qt.io/browse/QTBUG-46301) looks relevant.  Can you poke around in [context creation](https://github.com/mkeeter/fstl/blob/master/src/window.cpp#L29-L30) and see whether anything changes?

`fstl` also uses `QGL*` classes, rather than the more modern `QOpenGL*` classes; if you open up a PR that fixes this I'll happily merge it in.

[2018-01-03 13:01] DeveloperPaul123 commented on #24
[This](https://gist.github.com/jeffcogswell/62395900725acef1c0a5a608f7eb7a05) may also fix the warning about the accessibility bus address; but it might be a band-aid fix.

[2018-02-13 15:25] ruenahcmohr opened #25 "compile problem under linux"
I'v never yet had a qt project compile without issues....
Maybe this is something simple.

zippo:/files/programming/src/fstl/fstl/build# qmake ../qt/fstl.pro
zippo:/files/programming/src/fstl/fstl/build# make -j8
g++ -c -pipe -O3 -Wall -W -D_REENTRANT -DQT_NO_DEBUG -DQT_OPENGL_LIB -DQT_GUI_LIB -DQT_CORE_LIB -DQT_SHARED -I/usr/share/qt4/mkspecs/linux-g++ -I../qt -I/usr/include/qt4/QtCore -I/usr/inc

[2018-02-13 16:22] DeveloperPaul123 commented on #25
It looks like you're using Qt4, and as noted in #7, `fstl` requires Qt5.

[2018-02-13 23:53] mkeeter commented on #25
Yup, @DeveloperPaul123 is correct.  I've updated the README to indicate this; feel free to open a new issue if you're having problems building with Qt 5.

[2018-02-13 23:53] #25 closed

[2018-02-13 23:54] mkeeter commented on #25
FYI @DeveloperPaul123, I've given you commit access to the repo, since you're doing a better job replying to issues than I am 😃

Please open PRs if you've got major changes to review, but otherwise, feel free to make updates and fixes independently.

[2018-02-14 02:49] ruenahcmohr commented on #25
ah good show rue, an ID 10-T error...
I'm assembling the error it gave me with qt5 installed....

[2018-02-14 03:11] ruenahcmohr opened #26 "compiling with qt5 and debian"
libqt5opengl5-dev  installed,

zippo:/files/programming/src/fstl/fstl/build# make -j8
g++ -c -pipe -O3 -Wall -W -D_REENTRANT -DQT_NO_DEBUG -DQT_OPENGL_LIB -DQT_GUI_LIB -DQT_CORE_LIB -DQT_SHARED -I/usr/share/qt4/mkspecs/linux-g++ -I../qt -I/usr/include/qt4/QtCore -I/usr/include/qt4/QtGui -I/usr/include/qt4/QtOpenGL -I/usr/include/qt4 -I/usr/X11R6/include -I. -I../qt -I. -o app.o ../src/app.cpp
.
.

[2018-02-14 03:29] DeveloperPaul123 commented on #25
@mkeeter Sweet thanks! Always happy to help.

[2018-02-14 03:30] DeveloperPaul123 commented on #24
@aytekno Any updates on this?

[2018-02-14 03:31] DeveloperPaul123 commented on #11
@esacape3d Any further feedback?

[2018-02-14 03:31] DeveloperPaul123 commented on #11
@esacape3d Any further feedback?

[2018-02-14 03:32] DeveloperPaul123 commented on #7
@mkeeter Can this be closed?

[2018-02-14 13:10] mkeeter commented on #7
Yup!

[2018-02-14 13:10] #7 closed

[2018-02-14 15:52] DeveloperPaul123 commented on #26
@ruenahcmohr

So just to be clear you:
1. Installed qt4
2. Tried to build `fstl` (build failed)
3. Installed qt5
4. Tried to build `fstl` again with qt5 -> this is where it still tried to use qt4?

[2018-02-15 01:36] ruenahcmohr commented on #26
correct, I had to run the qt5 qmake directly to get it to behave, I'm not up on QT, I just know that they make sure there is no backwards compatibility between versions!

[2018-02-15 02:11] DeveloperPaul123 commented on #26
@ruenahcmohr
Hmm, just the steps that occured make me lean towards thinking there was something left over in your build from when you tried to use qt4 that didn't get cleaned up all the way when you switched to qt5.

Can you reproduce this if you start from scratch with qt5 and qt4 installed but skip steps 1-3 above?

😂 This is true to a certain extent, but qt5 introduced a lot of new and useful f

[2018-02-15 03:29] DeveloperPaul123 opened #27 "Warning When Configuring on Windows 10 with CMake 3.10.2"
When configuring on windows 10 using the latest version of CMake (`3.10.2`) a warning is thrown because of the having `CMAKE_AUTOMOC` and `CMAKE_AUTOUIC` to on without explicitly setting the CMake policy `CMP0071`:

![image](https://user-images.githubusercontent.com/6591180/36239280-3490a6e0-11d6-11e8-8ccc-c0b80a3eaf73.png)

We can fix this multiple ways:
1. Explicitly set `CMP0071`
2. Turn `CMAKE

[2018-02-15 04:55] ruenahcmohr commented on #26
This is with qt4 uninstalled...

mv build _build
mkdir build
cd build
qmake ../qt/fstl.pro
qmake: could not exec '/usr/lib/i386-linux-gnu/qt4/bin/qmake': No such file or directory
 which qmake
/usr/bin/qmake
ls -l /usr/bin/qmake
 /usr/bin/qmake -> qtchooser
dpkg -S qtchooser
qtchooser: /usr/bin/qtchooser
apt-get install qtchooser
qtchooser is already the newest version (63-g13a3d08-1).
apt-cache s

[2018-02-15 05:01] ruenahcmohr commented on #26
All in all, so far this has been the smoothest QT project I'v ever tried to compile.  :-)

[2018-02-15 13:00] mkeeter commented on #27
Usually, when I run into these issues, I set whatever CMake policy they're asking for (`cmake_policy(SET CMP0071 NEW)` in this case).

If that doesn't break anything, it's the simplest solution.

[2018-02-15 13:04] mkeeter commented on #26
Alright, I've [added](https://github.com/mkeeter/fstl/commit/66bf59f0965db83fe178d7de175eb9c47bf016ae) those two packages into the README – glad you got things working!

[2018-02-15 13:04] #26 closed

[2018-02-15 14:16] DeveloperPaul123 commented on #27
@mkeeter
According to the warning, setting that policy to `NEW` means those files _will_ be processed by `automoc` and `autouic`. We don't want this right since those files are generated by `qt5_wrap_qrc`, right?

[2018-02-19 19:32] #27 closed

[2018-03-09 03:15] DeveloperPaul123 opened #29 "Update to QOpenGL* Classes"
Would be nice to update all uses of `QGL*` classes to use instead `QOpenGL*` classes.

[2018-03-09 03:19] DeveloperPaul123 commented on #29
@mkeeter I've started implementing this change and got the following results:

![2018-03-08_22-16-25](https://user-images.githubusercontent.com/6591180/37188687-68e3036c-231e-11e8-8267-8b1e6e123924.gif)

Any initial thoughts on what could be going on? All I've done is migrate all `QGL` classes to their `QOpenGL` variant.

One thing I'll note is that changing `QGLFormat` to `QSurfaceFormat` resulte

[2018-03-09 13:28] mkeeter commented on #29
That's really weird.

My theory: if you've changed from a `QGLWidget` to a `QOpenGLWidget`, the custom drawing needs to go in `void paintGL() override`, rather than `paintEvent`, and needs to be wrapped in calls to `painter.[begin/end]NativePainting()` (e.g. how I do it [here](https://github.com/libfive/libfive/blob/master/studio/src/view.cpp#L274)).

[2018-03-11 20:18] #29 closed

[2018-04-01 22:14] cnHeider opened #31 "Feature Request: Option for switch left-right click behaviour"
It would be great if we could be able to switch ("Invert", left does what right does now and opposite) the behavior of the right and left mouse click hold. Coming from another 3D tool, the current setup is quite discouraging to use.

[2018-04-02 11:57] DeveloperPaul123 commented on #31
Just out of curiosity, what 3D tool are you coming from?

[2018-04-02 11:58] #11 closed

[2018-06-05 18:29] Grawp opened #33 "Most ASCII STL without solid's name won't load"
https://github.com/mkeeter/fstl/blob/d021118ee2f162c2e487c5454f51589d1797fdc1/src/loader.cpp#L120

At least OpenSCAD and FreeCAD (and probably other applications capable of producing ASCII STL) do not place space after the word *solid* when it's not followed by name.

(The only article saying that the space should always follow the word *solid* is the one on Wikipedia and I haven't *yet* found suc

[2018-06-05 22:09] mkeeter commented on #33
Okay, I loosened the requirement for an STL to be recognized as ASCII.

There's no formal spec for the format, so I went by the Wikipedia description, but might as well be generous with what we accept...

[2018-06-05 22:09] #33 closed

[2018-07-19 21:44] mboerwinkle opened #36 "Accidental CMakeLists change"
I was working on a fix for a cmake warning with this commit: https://github.com/mboerwinkle/fstl/commit/7a1e6385e80d2582438911ced03d269a8d2c1df4

This commit modified my existing pull request on mkeeter/fstl. A few minutes later, @mkeeter merged the pull request, inadvertently including my untested (it works for me, but I hadn't submitted it for review yet) modification to CMakeLists.txt.

I wante

[2018-07-20 00:32] mkeeter commented on #36
Thanks for the warning!  I'll leave it in for now; if anyone has trouble on Linux, we can revisit it.

[2018-07-20 00:32] #36 closed

[2018-10-14 17:36] rcmz opened #37 "Corrupted stl with libfivepy"
If you open an [libfivepy](https://gitlab.com/rcmz0/libfivepy) generated stl file with fstl and set it to auto-reload; every time you regenerate the stl (with libfivepy) fstl say it is corrupted. Which is strange because it display the stl fine and it doesn't occur when you load the file manually.

This is probably a libfivepy issue but here is a post anyway.

Link to the thread on libfivepy: http

[2018-10-14 18:39] mkeeter commented on #37
What's the precise error message?

I wonder if this is caused by it trying to read the STL while the library is partway through writing it.

[2018-10-14 19:00] DeveloperPaul123 commented on #37
That was my thought as well; although the `fileChanged` signal from the `QFileSystemWatcher` shouldn't be emitted until after the file is modified. That should be after writing is done right?

[2018-10-14 19:02] rcmz commented on #37
That's what I thought too, but I did some testing and it doesn't appear to be the case. I could be wrong thought.

The error message is : `Window::on_bad_stl()`

[2018-10-14 19:06] DeveloperPaul123 commented on #37
@rcmz Would you be willing to share the python code your using to cause the issue to occur?

[2018-10-14 19:10] rcmz commented on #37
Sure, the python code is just a wrapper around [`libfive.h`.](https://github.com/libfive/libfive)

Here is a important bit :
[code]

The full code is available at https://gitlab.com/rcmz0/libfivepy/blob/master/libfive/kernel.py

[2018-10-14 23:44] mkeeter commented on #37
One easy thing to check – if you try to re-open the file in fstl (instead of autoreloading), does it still show that error?  This will tell you if the problem is in the STL or in the autoloading process.

[2018-10-24 11:15] bjornthe opened #39 "compile on Windows"
Hello,
I've installed Qt 5.11.2 on Windows 10.
Then I got linking error for glPolygonMode.
If I comment out the three instances of glPolygonMode in canvas.cpp it compiles and run.

Error:
canvas.obj : error LNK2019: unresolved external symbol __imp_glPolygonMode referenced in function "private: void __cdecl Canvas::draw_mesh(void)" (?draw_mesh@Canvas@@AEAAXXZ)
release\fstl.exe : fatal error LNK112

[2018-10-24 12:46] mkeeter commented on #39
Have you done any searching for that error message?  [This Stack Overflow question](https://stackoverflow.com/questions/35824679/how-to-resolve-undefined-references-in-opengl-c-qt5-5) looks relevant.

[2018-10-24 12:52] bjornthe commented on #39
I'll try some more. That looks relevant.

[2018-11-04 19:16] ApostolosB opened #40 "Add .desktop file for linux and a .png version of the icon."
The desktop can be something like:

Type=Application
Version= 0.9.3
Name=fstl
Comment=Fast viewer for .stl files.
Exec=fstl %F
Categories=Graphics;
Icon=fstl.png

The png is something  someone must export from the ico file or convert the original file.

[2018-11-10 11:28] SlipperyPete commented on #37
I too am having this issue, Compiling STL's from OpenSCAD. FSTL is popping up with this error about half a second before my console says it's finished. Then FSTL reloads the file perfectly simultaneous with the console finishing, Off the top of my head either reloading on the second `fileChanged` or adding a delay could jerry-rig it for these situations, but both rely on either what is potentially

[2018-11-24 01:50] runxel opened #41 "Feature Request: Option for inverting zoom method"
I find the current zooming method (scroll down for zoom in) highly disturbing. 😅

[2018-11-25 00:15] DeveloperPaul123 commented on #41
I assume by the issue title you would prefer to be able to scroll up to zoom in yes?

[2018-11-25 16:09] runxel commented on #41
Yes, exactly. For me as Windows user this seems to be way more natural.

[2019-02-22 03:53] kevinshane commented on #41
yes please!

[2019-04-02 15:14] egassemcinatas opened #43 "Segfault and lesser issues with autoreload"
I am using fstl to display designs for 3D printing that are frequently modified and regenerated.  The default-enabled autoreload feature has some drawbacks in that use case.

First, fstl frequently crashes while the .stl is being regenerated.  This is because in Loader::read_stl_ascii(), the size of the vector returned by split() is not checked before using the elements.  When a vertex row has not

[2019-04-02 15:58] DeveloperPaul123 commented on #39
@bjornthe Are you still having issues?

[2019-04-02 16:01] DeveloperPaul123 commented on #43
Looks like this might be related to #37 as far as `.stl` reloading goes. Seems like you outlined 3 distinct issues:

1. `fstl` crashes when reloading (or trying) a `*.stl` file that is actively being re-written.
2. `fstl` attempts to reload a file immediately upon any change to the file resulting in multiple error pop-ups that must be cleared.
3. `fstl` steals focus after reloading a file successf

[2019-04-02 19:47] egassemcinatas commented on #43
I agree with your summary.

#37 does indeed seem to be related to item 2.

I am using a single monitor, with fvwm for a window manager and focus under mouse.  Fvwm allows focus stealing, and I have to move the pointer outside the window and back in to regain focus.

[2019-04-03 16:24] DeveloperPaul123 commented on #43
Ok thanks for the details, I may have some time this week to look into making some improvements to `fstl`.

[2019-05-29 19:32] kelargo opened #45 "feature request: rmb save as png"
A nice feature to have:  to be able to safe the viewed image as a graphics png file.

right mouse button, save as, stl_filename.png  or something like that.

thanks

[2019-06-05 21:28] dumblob opened #46 "Qt 5.12.x leads to blank window"
The newest Qt libs [seem to require](https://stackoverflow.com/a/55235823 ) `fmt.setSamples(4)` to get rid of the blank screen and error messages. With Qt 5.11.x `fstl` worked perfectly for me, but now it doesn't any more :cry:.

Could you please implement it and release a new version?

[2019-06-06 02:15] DeveloperPaul123 commented on #46
Just curious but what OS are you on?

[2019-06-06 02:17] #39 closed

[2019-06-06 10:21] dumblob commented on #46
@DeveloperPaul123 Arch Linux.

[2019-08-16 17:39] DeveloperPaul123 commented on #40
Would you consider filing a PR for this?

[2019-09-20 13:45] BogdanTheGeek commented on #46
It seems to work on arch if you build it from source (not from AUR).

[2019-10-12 00:36] DeveloperPaul123 commented on #45
I've implemented this [here](https://github.com/DeveloperPaul123/fstl/tree/feature/save-screen-shot).

Below is a screen shot:

![image](https://user-images.githubusercontent.com/6591180/66691714-4af68500-ec66-11e9-9eef-41f6fe24b56d.png)

And the resulting saved image

<img width="300" alt="test_1" src="https://user-images.githubusercontent.com/6591180/66691722-5944a100-ec66-11e9-8144-2af26c78b924

[2019-10-13 23:08] mkeeter commented on #45
Seems reasonable!

[2019-10-13 23:30] kelargo commented on #45
Awesome! Thank you.

On Sun, Oct 13, 2019, 7:08 PM Matt Keeter <notifications@github.com> wrote:

[2019-10-18 13:56] DeveloperPaul123 commented on #45
I referenced the wrong issue in the commit message for #47. This issue is now resolved.

[2019-10-18 13:56] #45 closed

[2019-10-22 04:55] bjornthe commented on #39
In fstl.pro I added:
LIBS   += -lopengl32
reran "run qmake" and then it worked.

[2019-11-16 01:00] swiftgeek commented on #46
Works for me on arch with master and not with latest release. Probably a good sign to tag a new release :)

[2019-11-16 02:33] DeveloperPaul123 commented on #46
@swiftgeek You mean `master` of `fstl` right? Are you using the same version of Qt as indicated in the original issue comment?

[2019-11-16 08:56] swiftgeek commented on #46
`master` of `fstl` and I had exactly the same issue on 5.13.2 with 0.9.3

[2019-11-23 16:03] swiftgeek opened #48 "Feature request: "Surface Angle" mode draw mode"
"Surface Angle" as seen on [github/gist stl previews](https://github.com/prusa3d/Original-Prusa-i3/blob/MK2/Printed-Parts/stl/x-carriage.stl) makes it easier for me to figure out/make out features of 3D model

[2019-11-25 13:33] mkeeter commented on #48
Seems useful!  The mesh fragment shader is [here](https://github.com/mkeeter/fstl/blob/master/gl/mesh.frag) if you're interested in opening a PR.

[2019-12-01 05:38] Alkeryn opened #49 "Disable error message option"
So when saving the again the stl, fstl will autoreload it before the file finished being written which will result in an error, so an option to disable error messages would be great as always closing those windows is annoying and pressing F5 each time isn't as conveniant as if it would always auto reload ^

[2019-12-06 16:24] VestigeJ commented on #40
I’d recommend packaging it as a snap package or appimage to hit several linux distros at once.

[2020-01-09 16:40] DanielJoyce commented on #43
Well, how does fstl know the file is complete.

What should happen is the program generating the file should write it to a temp file, then rename it to the file fstl is trying to reload. Renames are atomic. So something like "mv -f tempfile.stl file-fstl-is-viewing.stl"

[2020-01-09 16:44] DanielJoyce commented on #37
It needs to write to a tempfile first, then rename it to the file fstl is loading. Thats the only way to be atomic.

[2020-04-12 07:35] ericonr opened #50 "New release?"
Hey there! This is a pretty cool piece of software, and it also looks extremely good. I'd really like to package it for Void Linux, but unfortunately the latest release is quite a bit buggy (I had to compile master to actually get it to work).

Do you think it would be possible to make a release? If you need any help, I can try to aid you.

[2020-04-13 16:53] DeveloperPaul123 commented on #50
@mkeeter I can do this if you want. Lmk what release number.

[2020-04-14 15:14] mkeeter commented on #50
Sounds good, let's do 0.9.4.

Sadly, my Windows VM + static Qt build has been lost to the ages, so it's a pain for me to make a standalone Windows build.

[2020-04-14 15:27] DeveloperPaul123 commented on #50
I can make a standalone build for Windows and Linux (ubuntu) as well as an installer. Is that ok?

Also, we should use the latest Qt version (5.14), right?

[2020-04-14 17:41] mkeeter commented on #50
Yup, that would be great!

[2020-04-14 19:59] ericonr commented on #50
Thanks for the quick response! If you need anything lmk

[2020-04-15 00:58] DeveloperPaul123 commented on #19
@echrisinger The ability to save screenshots has been added to the `0.9.4` release if you're still interested.

[2020-04-15 01:06] DeveloperPaul123 commented on #50
@mkeeter I created a draft release if you want to take a look before publishing.

[2020-04-18 15:18] mkeeter commented on #50
I tried to make a Mac `.dmg` using `cpack`, since `app/package.sh` has been broken by other changes in the `CMakeLists.txt`.  This didn't work, so I commited a fix (633504e693606c0cc7d88e45ae90f11ef1c89b7f) for the packaging script and attached a DMG to the draft release.

[2020-04-18 16:42] DeveloperPaul123 commented on #50
Awesome, @ericonr new release is up and available now 👍

[2020-04-18 16:42] #50 closed

[2020-04-18 23:37] ericonr commented on #50
Thank you very much @DeveloperPaul123  and @mkeeter !

Take care :)

[2020-04-29 01:59] gmlewis opened #53 "Maximize window on startup"
The very first thing I always do after running `fstl` is to maximize the window.

In `window.cpp`, immediately after the opening curly brace on line 17 (before the call to `setWindowTitle("fstl");`), I added this:

[code]

and now it behaves like I want.  Since this is such a simple change, I didn't write a PR.
Feel free to close if you don't think this is useful, but I really like it.

Thank you

[2020-07-22 00:45] galileopy opened #56 "CLI Interface"
This seems like a nice little utilty to batch produce STL thumbnails, how hard could it be to make it receive

* Input file name --input
* Output filename --output
* Dimensions (w/h, or only one and assume square viewport --dimensions wxh or --dimensions n // where n is both w/h

And run as a console app, writing the resulting png in the output file, with the specified dimensions?

[2020-07-27 00:30] mkeeter commented on #56
Not very hard!  I encourage you to try it!

[2020-07-30 07:02] fake-name opened #57 "No way to disable obnoxious file warning after opening every file"
Every time I open a STL file generated by solidworks, `fstl` pops up a pointless warning dialog:

------

<b>Warning:</b><br>This <code>.stl</code> file begins with <code>solid </code>but appears to be a binary file.<br><code>fstl</code> loaded it, but other programs may be confused by this file.

------

I've used solidworks to generate hundreds of STLs for use with probably dozens of other piece

[2020-07-30 14:19] DeveloperPaul123 commented on #57
I think the original intention was to differentiate between ASCII and binary `*.stl` files.

[2020-07-31 00:02] #57 closed

[2020-07-31 00:05] mkeeter commented on #57
Fixed!

[2020-07-31 10:47] fake-name commented on #57
Yeah, but looking for `solid` in the header *doesn't do that*.

[2020-08-28 00:03] wyatt8740 commented on #46
Try doing this:
`LIBGL_ALWAYS_SOFTWARE=1 ./fstl`
For whatever reason, that made it work on my (Debian) machine, although obviously I'd prefer if fstl was using my hardware.

[2020-10-06 17:14] MarcelRobitaille opened #59 "fstl cannot open .STL files"
By that, I mean, if the extension is uppercase, fstl refuses to open the file. Same thing for the "File open" menu; it won't show files with uppercase extensions.

I hate uppercase extensions as much as the next guy, but this is inconvenient when you download a git repo with .STL files.

[2020-10-06 17:25] DeveloperPaul123 commented on #59
I can look into this.

Can you provide an example?

In the mean time you could use something like Power Toy's rename feature to easily change the extensions all at once.

[2020-10-06 17:28] MarcelRobitaille commented on #59
[Here is the repo I downloaded](https://github.com/Opentrons/ot2/tree/master/reference-model/STL)

Yes, I have renamed the files for now.

Thanks for looking into it. :grinning:

[2020-10-07 17:37] #59 closed

[2020-10-16 21:02] DeveloperPaul123 commented on #41
Done in #61 Thanks @ahorn42!

[2020-10-16 21:02] #41 closed

[2020-10-16 22:15] DeveloperPaul123 commented on #53
Perhaps this can be an option in the `fstl` toolbar. My take on this is that while you may prefer for it to start up maximized, other users will not.

[2020-10-16 22:15] DeveloperPaul123 commented on #24
Closing this as a stale issue

[2020-10-16 22:15] #24 closed

[2020-12-31 14:14] amittel opened #63 "Add version number"
Just add the version number to the about screen or somewhere else. Couldn't find it in the programm.

[2021-01-01 20:13] mboerwinkle opened #65 "README.md needs to be updated to reflect #62"
#64 fixes the linux build instructions, but the mac build instructions still rely on qmake.

[2021-01-25 15:13] #48 closed

[2021-01-25 15:19] #63 closed

[2021-02-16 17:04] DeveloperPaul123 commented on #46
`fstl` now requires Qt `5.14`. Can someone see if this is still an issue with that Qt version?

[2021-02-16 19:25] dumblob commented on #46
I've just compiled and successfully tested version 0.9.4 (but I don't know, whether it's the one already depending on Qt `5.14`). I have not encoutered any issues whatsoever - thanks!

[2021-02-17 14:51] DeveloperPaul123 commented on #46
It should be a `0.95-snapshot` version I believe for the one that requires Qt `5.14`. But if the issue seems to be resolved on your end anyway, I'll go ahead and close this.

[2021-02-17 14:51] #46 closed

[2021-02-22 17:54] ApostolosB commented on #40
while what i wrote on the first comment will work as a desktop file i have no idea where those are placed and how they are installed. As for the icon we will probably need the original file.

[2021-02-22 19:08] mboerwinkle commented on #40
I _think_ .desktop files are supposed to be either installed by 'make install' (if building from source) or handled by whoever packages it for release per platform.
 [Geany](https://github.com/geany/geany) places their .desktop file in their root directory and has a directory for icons, but they primarily target Linux.
 Based on how platform specific stuff is currently set up in this repo, I would

[2021-02-22 20:37] ApostolosB commented on #40
By looking at other linux projects that also support macos they seem to have a directory with sub directories for each OS. those include . desktop and whatever is needed. About the installation stuff i have no idea.

[2021-02-22 20:42] DeveloperPaul123 commented on #40
Thanks for the updates and suggestions @mboerwinkle @ApostolosB, I think I have the information I need to implement this. Doesn't seem like it would be too hard.

[2021-02-24 12:11] nedelec opened #68 "building on Mac OSX: Cannot find file: ../qt/fstl.pro."
Following the instruction to building on MacOS,

I get this error:
Cannot find file: ../qt/fstl.pro.

Thanks!

[2021-02-24 13:22] mkeeter commented on #68
Ah yes, we switched to CMake.

I updated the README in 2ed355457f1dc91c87f4835d50a34d6ffbd31d6e

[2021-02-24 14:12] nedelec commented on #68
Thank you, it worked and I could build fstl.
Is it possible to zoom in/out in fstl?

[2021-02-24 14:47] DeveloperPaul123 commented on #68
Yes, on Windows it's Ctrl + Mouse Wheel scroll. Not sure what the MacOS equivalent is.

[2021-02-24 16:01] mboerwinkle commented on #65
2ed355457f1dc91c87f4835d50a34d6ffbd31d6e resolves this.

[2021-02-24 16:01] #65 closed

[2021-03-09 02:55] 19504643 opened #69 "how to support gcode files"
Hi, this is the fastest application we have ever to open the big STL file,
and can you support gcode file such as .g .gco .gcode
![image](https://user-images.githubusercontent.com/4372492/110411653-ec853e80-80c5-11eb-9ece-9dca21437b28.png)

[2021-03-09 15:58] DeveloperPaul123 commented on #69
I think supporting other file types is beyond the scope of this application at this time.

[2021-03-11 08:34] 19504643 commented on #69
ok, that's it, maybe there should anoter program named fgco

[2021-03-11 15:41] #69 closed

[2021-03-27 04:55] brodock opened #70 "Flatpak support"
Flatpak is a universal package format that can be used in any Linux distro.

I would like to ask to package fstl using Flatpak (you can read it more here: https://docs.flatpak.org/en/latest/first-build.html) and add it to Flathub: https://flathub.org

[2021-03-28 20:43] core-code opened #71 "version number missing"
i've downloaded version 0.9.4 but when selecting it in the Finder no version number is visible:
<img width="607" alt="Screenshot 2021-03-28 at 22 41 09" src="https://user-images.githubusercontent.com/1261954/112767392-d14b8600-9016-11eb-8a8d-4650f58bf85b.png">

both the CFBundleVersion and the CFBundleShortVersionString entries are missing from your Info.plist file. both should be set to 0.9.4. al

[2021-04-06 07:51] mercurioblu opened #72 "FSTL is not able to load stl files in a big endian environment (PowerPC)"
I would like to use FSTL on my Debian installation working on a PowerPC CPU and a 64bit linux environment.
If I try to load any STL file, FSTL does exactly nothing, it does not show any object, nor provided an alert of any kind that something went wrong. I tried recompiling from source code the current version from this repository, but again FSTL seems to ignore any STL file I select.
I might be p

[2021-04-06 13:22] DeveloperPaul123 commented on #72
Would you be able to share the file that `fstl` cannot load?

[2021-04-06 13:44] mboerwinkle commented on #72
Also, a few other things that might be interesting:
  -Can you load this ([Sphericon.stl](https://upload.wikimedia.org/wikipedia/commons/b/b1/Sphericon.stl)) ascii STL?
  -What Debian port are you using? You say it is big endian, but https://www.debian.org/ports/ only lists little endian PPC as currently supported.
Thanks,
Martin

[2021-04-06 16:50] mkeeter commented on #72
We copy directly from the binary file into a `float` [here](https://github.com/fstl-app/fstl/blob/master/src/loader.cpp#L172).  You can try editing that line to something like

[code]
and seeing if that fixes it.

[2021-04-06 16:57] mercurioblu commented on #72
Here the file I am trying to load, zipped as GitHub does not allow to upload an stl file directly
[flat.zip](https://github.com/fstl-app/fstl/files/6266360/flat.zip)

[2021-04-06 17:34] mercurioblu commented on #72
@mboerwinkle Yes, I can see the file "Sphericon.stl"
![image](https://user-images.githubusercontent.com/43654756/113753617-9203f000-970e-11eb-9a4e-cbb2a0aa8fd8.png)

The following is the dump of my /etc/apt/sources.list

<pre># Repos managed by Debian ports
deb http://ftp.ports.debian.org/debian-ports/ sid main
deb-src http://ftp.debian.org/debian/ sid main
deb [arch=all] http://ftp.debian.org/deb

[2021-04-06 22:45] mkeeter commented on #72
Did you try the fix I suggested [here](https://github.com/fstl-app/fstl/issues/72#issuecomment-814272856)?

[2021-04-07 06:37] mercurioblu commented on #72
@mkeeter Hurray, yes, replacing `memcpy(&v[i], b, 3*sizeof(float));` with `qFromLittleEndian<float>(b, 3, &v[i]);` in src/loader.cpp#L172 di the trick! Thank you!

![image](https://user-images.githubusercontent.com/43654756/113821117-f5783700-977b-11eb-9f8f-6a5d6d2b71a3.png)

Could you please include this fix in the main branch so that Debian will get it in their repositories?

Unfortunately I now

[2021-04-07 09:23] sur5r commented on #72
The version in Debian does not yet include the fix for #59. So I think #60 is the relevant change here. I don't understand yet how it can break like that...

[2021-04-07 12:01] #72 closed

[2021-04-07 12:04] mkeeter commented on #72
Okay, fixed in 843415dccdcf9d15322f84c3e4b2cbd8515283b6.

Please open another issue for the file dialog, but let me ask – what happens if you click on "STL files" in the lower-right corner of the file dialog?  If that opens a dropdown that lets you pick between "STL files" and "*.stl", then it's probably your shell (GNOME?) behaving strangely.

[2021-04-07 22:15] mercurioblu opened #73 "current 0.9.5-snapshot of fstl only show *.STL and not *.stl files in the load GUI"
I am on a Debian SID PPC64 big endian and installed fstl from Debian repo (http://ftp.ports.debian.org/debian-ports/pool-ppc64/main/f/fstl/) as well as a freshly compiled version with sources downloaded from git.

While trying to load a file, the GUI in the version installed from Debian (version 0.9.4-1) only show stl files with a lower case, and the freshly compiled version (version 0.9.5-snapsho

[2021-04-08 00:29] mkeeter commented on #73
Perhaps the comma between `*.stl, *.STL` is invalid syntax [here](https://github.com/fstl-app/fstl/blob/master/src/window.cpp#L143) – can you try removing it and seeing if that fixes it?

[2021-04-08 10:57] sur5r commented on #73
For me, it works both with and without the comma. But my filechooser looks different from the one in the screenshots. I assume there is some GTK/Qt interaction going wrong.

Searching the net, I found https://phabricator.kde.org/D17677 so maybe we can do something like

[code]

to achieve a better result. The `QFileDialog::HideNameFilterDetails` option will hide the RegEx from the dropdown so it w

[2021-04-08 12:05] mercurioblu commented on #73
@mkeeter Yes, removing the comma from https://github.com/fstl-app/fstl/blob/master/src/window.cpp#L143 works, now both files extensions uppercase and lowercase are correctly listed in file dialog. Cheers!

[2021-04-08 12:15] mercurioblu commented on #73
@sur5r Please, guide me (instructions for dummies I mean) on how to share with you my QT configuration. I use Debian SID with LXDE as desktop environment.

[2021-04-08 12:32] sur5r commented on #73
The LXDE hint should be enough, will try and reproduce to get a deeper understanding.

[2021-04-08 13:57] DeveloperPaul123 commented on #73
Should we push this change? Based on the Qt [docs](https://doc.qt.io/qt-5/qfiledialog.html#getSaveFileName) it seems that they indicate that no commas are needed.

[2021-04-08 15:10] DeveloperPaul123 commented on #73
@sur5r If you have a patch already with the fix, could you file a PR? If not I can do it. And no worries on the comma 😄

[2021-04-08 15:35] sur5r commented on #73
I can file a PR in 2-3 hours, busy ATM. So feel free to commit it. I'm curious whether the RegEx version works with LXDE as well because this seems nicer IMHO.

[2021-04-12 15:26] pablorq commented on #40
Hi!

This is a simple installer for the desktop file on Ubuntu 20.10, but it should work on other Linux systems.

Inside the .zip file there are:
- The desktop file
- The icon file
- The installer

The installer just copy the desktop and icon files to their corresponding directories. Admin credentials (`sudo`) are required.

Enjoy!

[fstl-desktop.zip](https://github.com/fstl-app/fstl/files/6297853

[2021-09-04 22:03] Lenbok opened #74 "Cannot build on Ubuntu 20.04 LTS"
#67 Broke the ability to build on Ubuntu 20.04 LTS since it ships with Qt 5.12. It's your decision how soon you want to leave behind users, but personally I think it's reasonable to support the current LTS of one of the most popular distros.

In my fork I've reverted that commit, and fstl builds and runs fine (no deprecation warnings are issued under 5.12). I can open a PR if you want.

[2021-09-07 12:16] DeveloperPaul123 commented on #74
My initial take is that we don't want to leave users behind, but we also don't want code bifurcation due to different Qt versions. I'm not sure what the best way to handle this is.

Is there no reasonable way to get the latest LTS of Qt on Ubuntu 20.04?

[2021-09-07 17:44] sur5r commented on #74
Ubuntu does not provide backports for Qt 5.15. Neither does Debian. If the Ubuntu maintainers plan to backport any upcoming fstl release to focal, they can easily revert that commit for their package.

You can also easily do a backport build of Qt 5.14.2+dfsg-6 to focal yourself if that's what you need.

Also note that there are already two releases of Ubuntu which contain a newer version of Qt. U

[2021-09-07 19:25] Lenbok commented on #74
It is absolutely not true that deprecated calls must be removed as early as possible. Java has functions that have been deprecated for 20 years but are still supported.

The next Ubuntu LTS is coming out next April. Since #67 is a **breaking change** that did not actually add any functionality, I don't know why it isn't just reverted until then, at which point it is reasonable to expect LTS users

[2021-09-08 11:54] sur5r commented on #74
1. This is really not the quality level we should follow. Deprecating things and not removing them makes deprecating them pointless.
2. Having seen Qt change/deprecate/remove stuff over the years rather quickly, it really makes sense to adapt ones own code in a timely manner.

Regarding 843415d: While the commit message might be written in a tongue-in-cheek style, it nevertheless fixes a serious b

[2021-09-08 12:30] DeveloperPaul123 commented on #74
@Lenbok Can you go ahead and file the PR? I'll have to give this some more thought on how we want to handle supporting all our users. We don't want to lose the work that @sur5r has done since many are using the 5.15 LTS but we also don't want to leave behind platforms that still only have access to the 5.12 LTS.

[2021-09-11 14:09] DeveloperPaul123 commented on #74
@Lenbok Yes that's what I was planning on mentioning 👍

[2021-10-20 13:47] piotr-placzek opened #76 "incomplete release"
why your last release doesnt contain binray for linux?

[2021-10-20 14:04] #76 closed, assigned to nobody

[2021-11-14 17:49] mikoducky commented on #74
so I skimmed through this, and sorry if it's been mentioned, but I literally just built this on 20.04 on elementary OS. All I have to do is install a repo for an updated QT5, which I got right here: https://launchpad.net/~beineri/+archive/ubuntu/opt-qt-5.15.2-focal

Absolutely zero issues with building afterwards.

[2021-11-14 17:56] mikoducky opened #77 "Request to remember settings"
My main issue is that the program does not remember all of the settings: window size and position, shading type, autoreload, and projection type. Somehow, it remembers the inverted zoom being checked, but that's literally the only thing.

[2021-11-19 19:03] nathaneltitane commented on #40
This sis quite important as there is no way as of now to associate the mimetype automatically on install for light systems using
i3wm or similar.

The desktop file must also specify the mimetype for handling xdg-open queries.
Here is a more complete sample copied from meshlab:

[Desktop Entry]
Version=1.0
Name=fstl
GenericName=STL viewer
Comment=View STL model files
Type=Application
Exec=fstl
Icon

[2021-12-01 15:48] #68 closed

[2022-03-03 00:12] #77 closed

[2022-05-12 13:42] gjedeer opened #79 "Feature request: next/previous STL"
With an image viewer, I can press Space to go to the next photo and Backspace to go to the previous.

It would be great to have a similar functionality in a directory full of STLs.

[2022-06-11 15:14] dstrelnikov opened #80 "Feature request: hide menu option (on Linux)"
If it is not too difficult, I would kindly ask the developers to add an option to hide the menu below the window title. This would save a little bit of screen space when one needs to open multiple STLs side-to-side.

[2022-06-13 21:40] sur5r commented on #79
This is already implemented using the left/right cursor keys. See d0f75feb64457e9f5cb3847ddc184781d95e1953.

[2022-06-14 11:28] gjedeer commented on #79
I had no idea! Would it be OK to send a patch to add space/backspace?

[2022-06-20 13:47] brunetton opened #82 "[Feature request] Add an option to reverse mouse wheel zoom direction"
Hi

I'm using fstl almost every day, and each time I'm surprised by the way the zoom has been decided: mouse wheel to up zoom out.
In (almost ?) every 2D and 3D softwares (Inkscape, Gimp, Blender, Onshape, etc) I'm using, the mouse wheel is used the other way (and I'm used to it):
- wheel up => zoom **in**
- wheel down => zoom **out**

Could you add an option to invert this default behavior ? (com

[2022-06-27 12:33] #80 closed

[2022-06-27 12:38] #82 closed

[2022-06-27 14:44] sur5r opened #83 "New release"
Given several features have been implemented since the 0.9.4 release, maybe it's time to add a milestone for 0.9.5 and decide which issues should be completed for it.

[2022-06-27 16:52] DeveloperPaul123 commented on #83
Yeah this is probably a good idea to get some of the new features out there to people who don't build from source.

I think at a minimum we could version the next release `0.10.0` if not `1.0.0`. Thoughts?

[2022-06-28 08:26] sur5r commented on #83
I'd go with `0.10.0`. For `1.0` I would like to polish some things and take care of most of the open issues.
But I don't care about the exact versioning very much. I consider frequent, incremental releases more important.

[2022-06-28 12:48] brunetton commented on #82
This is a good question; I didn't found howto get the version: `fstl --help`, `fstl --version` and `Help` -> `about` didn't helped.

Anyway, I'm using the last version available in Ubuntu 21.10: `v0.9.4-1`. As [the last released version on Github is 0.9.4](https://github.com/fstl-app/fstl/releases) I didn't think there were new versions available.

Great news, thanks

I would encourage you to add

[2022-06-28 13:20] brunetton commented on #82
I totally agree with the proposal of #83 :) This would trigger a new release in Ubuntu and make all users benefits of new features.

[2022-06-28 15:08] DeveloperPaul123 commented on #83
I've added a new pre-release https://github.com/fstl-app/fstl/releases/tag/v0.10.0

I would like to do some more testing and build on Linux as well before fully releasing. Should be able to do the full release soon.

[2022-06-28 17:48] brunetton commented on #83
Just built on Ubuntu 21.10, works great

[2022-06-28 18:25] DeveloperPaul123 commented on #83
@sur5r @brunetton Would one/both of you be able to test generated rpm and deb packages? The attached zip contains both a RPM and a `.deb` package. I built them using WSL 2 on Windows.

[fstl-0.10.0.zip](https://github.com/fstl-app/fstl/files/9003750/fstl-0.10.0.zip)

[2022-06-28 20:43] brunetton commented on #83
I can only deb package, as I'm using Ubuntu and the result is: OK, no problems here. But I probably still have all dependencies, so it's probably not a super test. It would be better to start from a fresh installation.

[2022-06-29 08:42] sur5r commented on #83
The binary from the `.deb` works fine, but I would strongly advise against distributing that. It does not specify any dependencies which will result in odd bug reports. If you want to ship an upstream `.deb`, please have a look at the Debian packaging and use that. Maybe this could be done via GitHub actions as well.

[2022-06-29 13:40] DeveloperPaul123 commented on #83
`0.10.0` has now been released. We'll work on fixing Linux packaging in the future.

[2022-06-29 13:40] #83 closed

[2022-06-29 13:42] #53 closed

[2022-06-29 20:30] DeveloperPaul123 opened #84 "Fix Debian packaging"
Debian packaging is currently not fully functional. We need to specify the dependent packages and ensure we follow Debian packaging guidelines. Comments from [this thread](https://github.com/fstl-app/fstl/issues/83#issuecomment-1169216411) are relevant to this issue as well.

[2022-06-29 20:32] DeveloperPaul123 commented on #79
Instead of adding new buttons to the list of shortcuts, it may be time to think about creating a key binding system so that we can have sensible defaults, but also allow users to bind whatever keys they want.

[2022-08-12 14:00] iperetta opened #86 "Typo in `src/window.cpp`"
In file `src/window.cpp`, method `Window::on_open()` (lines 181-189), there is a typo in line 184:

[code]

Just need to **remove last comma in line 184**, the proper string to be as: `"STL files (*.stl *.STL)"`

Otherwise, in Fedora 36 (for example), open cannot access files with extension `*.stl` (lowercase)  only uppercase ones. Actually, the current version is filtering `*.stl,` extensions whi

[2022-08-12 14:34] DeveloperPaul123 commented on #86
@iperetta Thanks for reporting this. Would you be able to try if the suggestion in #73 works for you? Specifically [this](https://github.com/fstl-app/fstl/issues/73#issuecomment-815665547) comment.

[2022-08-12 15:41] iperetta commented on #73
Yes, this work for Fedora 36 and Qt 5.15.5-2

[2022-08-12 15:42] iperetta commented on #86
Yes, this (sur5r <https://github.com/sur5r> commented on Apr 8, 2021
<https://github.com/fstl-app/fstl/issues/73#issuecomment-815665547>) works
for Fedora 36 and Qt 5.15.5-2
---
Igor S. Peretta
***@***.***
Cel/Mob: +55 34 99277-0277

On Fri, Aug 12, 2022 at 11:34 AM Paul T ***@***.***> wrote:

[2022-08-13 21:27] X-DE1 opened #87 "No color"
I loaded this model with color and it appears without color.
![SharedScreenshot](https://user-images.githubusercontent.com/101435795/184511178-f4159478-2de2-48bb-bb6f-af4dc839c385.jpg)
I opened it at https://www.viewstl.com/ and it comes out with color.
![SharedScreenshot](https://user-images.githubusercontent.com/101435795/184511243-8bc5ea84-59c3-4a75-bb59-3c87d47b213a.jpg)

[2022-08-15 13:49] DeveloperPaul123 commented on #87
Can you post the model as well?

[2022-08-15 14:32] DeveloperPaul123 commented on #87
Looks like color is not standardized for the STL file format, so I'm not sure if it makes sense to add that ability to fstl.

[2022-08-22 07:11] IG-64 opened #88 "Feature Request: Rotation axis"
Ability to choose axis of rotation would be very useful. Most of my STLs are on Y axis but fstl defaults to Z

[2022-08-24 18:04] X-DE1 commented on #87
Here is the model.
https://www.thingiverse.com/thing:5461514

[2022-08-25 18:37] sur5r commented on #87
Hm, extracting the color is not hard, it would "just" require another menu option as the both possible formats are BGR vs. RGB. I'm not familiar with the shader code, but I guess https://github.com/fstl-app/fstl/blob/62213416e9f4a860bbaee47e5333476fa5af6eda/gl/mesh.frag#L19 would be the place to change. I don't understand the maths yet, though.

[2022-09-01 08:57] dstrelnikov opened #89 "Feature request: add hotkeys for switching drawing mode (and other options)"
It would be awesome to switch the drawing mode by pressing `1-2-3` or `s-w-a` (why not both?). The other options like projection method or draw axes could employ this as well.

[2022-09-01 08:59] dstrelnikov opened #90 "Feature request: momorize hide menu bar option after app restart"
At the moment the drawing mode and other options are memorized but the menu bar appears again after app restart.

[2022-09-01 09:09] dstrelnikov opened #91 "Feature request: add full screen mode"
Please see also #89, a single key to toggle full screen mode would be nice.

[2022-10-04 13:19] pozdnov commented on #87
I also need this feature and vote for it to be implemented.

[2022-10-29 12:47] yahbluez opened #93 "default view plane"
issue:
The default, hard coded,  view plane is the XY-plane.
Even if the user changes that with every stl loaded it falls back to the hardcoded view.

expected:
The user selection / setting of the view should at least not be overwritten.

[2022-10-30 13:10] DeveloperPaul123 commented on #93
By this you mean when you rotate the model in the viewer right?

[2022-11-19 17:40] pocomane opened #94 "Feature Request - Quick selection of common viewpoints"
While using fstl to preview a model I am designing, it would be very convenient to have a way to quick select the top/botto, left/right or front/back viewpoint. A submenu in the "View" menu would be perfect.

Also an option to center the view on the object, keeping the view angle would be useful.

(I do not know if there are some "Hidden" hotkeys for such operation, but in any case I think a menu

[2022-11-19 17:48] pocomane opened #95 "Feature Request - Optionally draw also the viewable edges in the "Solid" modes"
When selecting "Shaded" or "Surface Angle" as drawing mode, the edges are not drawn. This makes the model difficult to understand in some conditions. For example this is evident when the model have multiple faces orthogonal to the view direction.

An option to stroke the viewable edges with a solid line would fix this, and improve the use of fstl as a "CAD Viewer".

[2022-11-19 18:04] pocomane opened #96 "Improve Autoreload"
I am using a "Programmatic CAD" to produce stl, with a inotify script that automatically re-generate the stl when something in the source changes. Then, I am using fstl as a viewer with the Autoreload enabled, so that I can automatically view the new results when I edit the source.

Sometime the CAD will produce empty (in the sense of without any mesh) or corrupted stl. In such case fst will repor

[2022-11-22 13:14] pocomane commented on #94
I have some [working code](https://github.com/pocomane/fstl/commit/2311e7344c12c4afab88751e3329689a5152d045) . I did not make a pull request because I am unsure about the code quality (never used qt before).

[2022-11-22 13:27] pocomane commented on #96
The current git version seems do not have such issue. Maybe the one from my OS was old (though it say 0.10). Whatever is the reason, this issue can be close.

Sorry for the noise.

[2022-11-22 13:27] #96 closed

[2022-11-22 17:16] DeveloperPaul123 commented on #94
@pocomane Thanks for the code. If you file a PR we can start the formal review process and get your code merged with changes if need be.

[2022-11-22 17:16] DeveloperPaul123 commented on #95
Do you have an example model where this occurs or a screenshot?

[2022-11-22 18:18] pocomane commented on #95
This is a part I am working on for 3d-print:

![Screenshot from 2022-11-22 19-11-35](https://user-images.githubusercontent.com/14974494/203390222-0845a9d8-bff8-49ae-908f-e6993dcc05a2.png)

The cylinder is drawn for reference, to check if other the edge are proper aligned. My purpose was to visually make this check looking at the front view. However the front view is not useful at all due to the ab

[2022-11-22 23:54] DeveloperPaul123 commented on #95
I see, so what you're looking for is kind of a blend of the solid rendering mode combined with the wireframe but only for the faces that are currently visible?

[2022-11-28 09:03] pocomane commented on #95
Yes, exactly. The openscad viewer does something similar:

![Screenshot from 2022-11-28 09-59-24](https://user-images.githubusercontent.com/14974494/204236090-d7d1f1df-a9e8-49e8-9aca-3292be541608.png)

It is still a bit confusing due to the edge drawn inside  the same "Macroscopic" face, but I think this is unavoidable. However the clean-up is enough to follow the cylinder edge. The example model